* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #ffe100;
}

.container {
  width: 100%;
}

/* ----------------------------------------------- */
/* HEADER */
/* ----------------------------------------------- */
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 100px;
  top: 0;
  left: 0;
  margin-top: 30px;
  width: 100%;
  border-radius: 10px;
  background: #4398ff;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);

  .logo a {
    display: flex;
    gap: 5px;
    align-items: center;
    font-size: 22px;
    font-weight: 800;
  }

  .close-icon,
  .search-icon {
    color: #ffe100;
    font-size: 25px;
    cursor: pointer;
  }

  .search-box {
    position: absolute;
    right: 340px;
    height: 45px;
    max-width: 555px;
    width: 100%;
    opacity: 0;
    pointer-events: none;
    transition: all 0.2s linear;

    .search-icon {
      position: absolute;
      left: 15px;
      top: 50%;
      left: 15px;
      color: #5ca5ff;
      transform: translateY(-50%);
    }

    input {
      height: 100%;
      width: 100%;
      border: none;
      outline: none;
      border-radius: 6px;
      background-color: #fff;
      padding: 0 15px 0 45px;
    }
  }
  &.show-search-box .search-box {
    opacity: 1;
    pointer-events: auto;
  }
}
