* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: #ffe100;
}

/* ----------------------------------------------- */
/* HEADER */
/* ----------------------------------------------- */
.header {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 200px;
    top: 0;
    left: 0;
    width: 100%;
    background: #ffffff;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.logo a {
    display: flex;
    align-items: center;
    font-size: 22px;
    font-weight: 500;
}
.header .close-icon,
.header .search-icon {
    color: #ffe100;
    font-size: 25px;
    cursor: pointer;
}

.header .search-box {
    position: absolute;
    right: 250px;
    height: 45px;
    max-width: 555px;
    width: 100%;
    opacity: 0;
    pointer-events: none;
    transition: all 0.2s linear;
}

.header.show-search-box .search-box {
    opacity: 1;
    pointer-events: auto;
}

.search-box .search-icon {
    position: absolute;
    left: 15px;
    top: 50%;
    left: 15px;
    color: #5ca5ff;
    transform: translateY(-50%);
}

.search-box input {
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    border-radius: 6px;
    background-color: #fff;
    padding: 0 15px 0 45px;
}
