:root {
  --color-black: #1c1c1c;
  --color-gray: #ececec;
  --color-white: #f7f7f7;

  --type-normal: #a8a878;
  --type-fire: #f08030;
  --type-water: #6890f0;
  --type-grass: #78c850;
  --type-electric: #f8d030;
  --type-ice: #98d8d8;
  --type-fighting: #c03028;
  --type-poison: #a040a0;
  --type-ground: #e0c068;
  --type-flying: #a890f0;
  --type-psychic: #f85888;
  --type-bug: #a8b820;
  --type-rock: #b8a038;
  --type-ghost: #705898;
  --type-dark: #705848;
  --type-dragon: #7038f8;
  --type-steel: #b8b8d0;
  --type-fairy: #f0b6bc;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.normal {
  background-color: var(--type-normal);
  color: var(--color-black);
}

.fire {
  background-color: var(--type-fire);
  color: var(--color-black);
}

.water {
  background-color: var(--type-water);
  color: var(--color-white);
}

.grass {
  background-color: var(--type-grass);
  color: var(--color-black);
}

.electric {
  background-color: var(--type-electric);
  color: var(--clr-black);
}

.ice {
  background-color: var(--type-ice);
  color: var(--clr-black);
}

.fighting {
  background-color: var(--type-fighting);
  color: var(--clr-white);
}

.poison {
  background-color: var(--type-poison);
  color: var(--clr-white);
}

.ground {
  background-color: var(--type-ground);
  color: var(--clr-black);
}

.flying {
  background-color: var(--type-flying);
  color: var(--clr-black);
}

.psychic {
  background-color: var(--type-psychic);
  color: var(--clr-black);
}

.bug {
  background-color: var(--type-bug);
  color: var(--clr-black);
}

.rock {
  background-color: var(--type-rock);
  color: var(--clr-black);
}

.ghost {
  background-color: var(--type-ghost);
  color: var(--clr-white);
}

.dark {
  background-color: var(--type-dark);
  color: var(--clr-white);
}

.dragon {
  background-color: var(--type-dragon);
  color: var(--clr-white);
}

.steel {
  background-color: var(--type-steel);
  color: var(--clr-black);
}

.fairy {
  background-color: var(--type-fairy);
  color: var(--clr-black);
}

a {
  text-decoration: none;
  color: #ffe100;
}

.container {
  width: 100%;
}

/* ----------------------------------------------- */
/* HEADER */
/* ----------------------------------------------- */
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 100px;
  margin-top: 30px;
  width: 100%;
  border-radius: 10px;
  background: #4398ff;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);

  .logo a {
    display: flex;
    gap: 5px;
    align-items: center;
    font-size: 22px;
    font-weight: 800;
  }

  .close-icon,
  .search-icon {
    color: #ffe100;
    font-size: 25px;
    cursor: pointer;
  }

  .search-box {
    position: absolute;
    right: 340px;
    height: 45px;
    max-width: 555px;
    width: 100%;
    opacity: 0;
    pointer-events: none;
    transition: all 0.2s linear;

    .search-icon {
      position: absolute;
      left: 15px;
      top: 50%;
      left: 15px;
      color: #5ca5ff;
      transform: translateY(-50%);
    }

    input {
      height: 100%;
      width: 100%;
      border: none;
      outline: none;
      border-radius: 6px;
      background-color: #fff;
      padding: 0 15px 0 45px;
    }
  }
  &.show-search-box .search-box {
    opacity: 1;
    pointer-events: auto;
  }
}

/* ----------------------------------------------- */
/* POKEMON CARD */
/* ----------------------------------------------- */
.pokemons-box {
  padding: 2rem;
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;

  .pokemon-card {
    border-radius: 1rem;
    background-color: var(--color-white);
    box-shadow: 0 0 3rem -1rem rgba(0, 0, 0, 0.25);
    padding-block: 1rem;
    text-transform: uppercase;
    position: relative;
    isolation: isolate;
    overflow: hidden;
    cursor: pointer;

    .pokemon-id-back {
      position: absolute;
      top: -0.25rem;
      left: 50%;
      transform: translateX(-50%);
      font-size: 6rem;
      font-weight: 800;
      padding: 0px 100px 0px 100px;
      color: var(--color-gray);
      z-index: -1;
    }

    .pokemon-image {
      padding-inline: 1rem;
      display: flex;
      justify-content: center;

      img {
        width: 100%;
        max-width: 6rem;
      }
    }

    .pokemon-content {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      gap: 0.5rem;
      padding-inline: 1rem;

      .pokemon-body {
        display: flex;
        align-items: center;
        column-gap: 0.5rem;
        flex-wrap: wrap;
        justify-content: center;

        .pokemon-id {
          background-color: var(--color-gray);
          padding: 0.25rem 0.5rem;
          border-radius: 100vmax;
          font-size: 0.75rem;
          font-weight: 500;
        }

        .pokemon-name {
          font-size: 1.4rem;
          font-weight: 800;
        }
      }

      .pokemon-type {
        display: flex;
        gap: 0.5rem;
        font-size: 0.75rem;
        font-weight: 500;
        flex-wrap: wrap;
        justify-content: center;

        .type {
          padding: 0.25rem 0.5rem;
          border-radius: 100vmax;
        }
      }

      .pokemon-stats {
        display: flex;
        gap: 1rem;
        font-size: 0.85rem;

        .stat {
          background-color: var(--color-gray);
          padding: 0.25rem 0.5rem;
          border-radius: 100vmax;
        }
      }
    }
  }
}

#PokemonDetailPage{
  opacity: 0;
  height: 100vh;
  position: fixed;
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  width: 100%;
  top: 0;
  left: 100%;
  display: flex;
  transition: .2s;
  &.active{
    opacity: 1;
    left: 0;
    transition: .3s;
  }
  .close{
    position: fixed;
    top: 20px;
    font-size: 20px;
    font-weight: bold;
    border: none;
    background-color: rgb(255, 136, 136);
    color: white;
    padding: 5px 15px;
    border-radius: 7px;
    cursor: pointer;
    right: 20px;
  }
  .PokemonDetailPageBody{
    display: flex;
    align-items: flex-end;
    width: 1200px;
    margin: 5% auto;
  }
}

#pokemonDetailCard{
  height: calc(100% - 180px);
  width: 400px;
  position: relative;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  padding: 15px;
  .body{
    transform: translateY(-230px);
    .info{
      display: flex;
      flex-flow: column;
      align-items: center;
      img{
        height: 300px;
        width: 300px;
      }
      b{
        color: grey;
        font-size: 16px;
      }
      h1{
        font-size: 27px;
        margin-top: 5px;
      }
      .type{
        margin-top: 10px;
        display: flex;
        p{
          margin: 0 3px;
          padding: 5px 15px;
          font-weight: bold;
          text-transform: uppercase;
          font-size: 15px;
          border-radius: 8px;
        }
      }
    }
  }
}

#subDetailPanel{
  height: 100%;
  width: 100%;
  margin-right: 20px;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  padding: 15px;
  overflow-y: scroll;
  .move{
    background-color: rgb(241, 241, 241);
    padding: 8px 10px;
    margin: 5px 0;
    border-radius: 5px;
    p{
      width: 100%;
      font-weight: bold;
      font-size: 20px;
    }
  }
}

/* ----------------------------------------------- */
/* FOOTER */
/* ----------------------------------------------- */
.footer {
  padding: 1rem;
  background-color: #4398ff;
  font-size: 14px;
}
